[submodule "abc"]
	path = abc
	url = git@github.com:Sakasu-TUAT/abc.git
	
[submodule "procon-library"]
	path = procon-library
	url = git@github.com:Sakasu-TUAT/procon-library.git
[submodule "ahc"]
	path = ahc
	url = git@github.com:Sakasu-TUAT/ahc.git
